.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
  padding: 0.5rem 1rem;
}

.wrap {
  background-color: #fc456a;
  padding: 0;
  display: block;
}
